{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <ul style="list-style-type:none;">
            {% for item in items %}
                {% include '_item.html' %}
            {% endfor %}
        </ul>
        <button type="button" class="btn btn-dark" onclick="toggle_display()">Add New</button>
        <div class="container item_form" style="visibility: hidden;">
            {{ wtf.quick_form(form) }}
        </div>

        <div >
        </div>
{% endblock %}


{% block scripts %}
    <script>
        function toggle_display(){
            el = document.querySelector('.item_form');
            
            if(el.style.visibility == 'hidden'){
                el.style.visibility = 'visible'
            }else{
                el.style.visibility = 'hidden'
            }
        }
        

        function myFunction(item_id){
            var temp = document.getElementById(item_id);
            var spans = temp.getElementsByTagName("span");
            spans[0].classList.toggle("strikethrough");
        }
    </script>

    
{% endblock %}